<div class="modal fade" id="grupos_usuario" tabindex="-1" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<form action="" method="POST" id="frm">
			<input type="hidden" name="_method" value="vincualar_user"/>
			{% csrf_token %}
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Vincilar/Desvincular grupo deste usuário?</h4>
				</div>

				<div class="modal-body">
					<span></span>
                    <p></p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
					<button type="submit" class="btn btn-primary" id="btn-vincular-desvincular">Vincular/Desvincular grupo do usuário</button>
				</div>
			</div>
		</form>
	</div>
</div>